<a href="https://colab.research.google.com/github/Forma-Damian/AMT_testing_jira/blob/ST-5-develop-PINN-function/coordinates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import random as r

In [4]:
coordinates = pd.DataFrame({
    "x" : [r.randint(0, 100) for i in range(100)],
    "y" : [r.randint(0, 100)  for i in range(100)]
})

In [5]:
print(coordinates)

     x   y
0    0  29
1   66  20
2   60  40
3   98  58
4   92  56
..  ..  ..
95  48  19
96  24  93
97  53  88
98  43  39
99  10  92

[100 rows x 2 columns]