<a href="https://colab.research.google.com/github/Forma-Damian/AMT_testing_jira/blob/ST-5-develop-PINN-function/coordinates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import random as r

In [2]:
coordinates = pd.DataFrame({
    "x" : [r.randint(0, 100) for i in range(100)],
    "y" : [r.randint(0, 100)  for i in range(100)]
})

In [3]:
# function to directly print coordinates
print(coordinates)

     x   y
0   79  99
1   10  51
2   51  27
3   18  98
4   26  78
..  ..  ..
95  60  54
96  47  73
97  46  20
98  33  48
99  31  70

[100 rows x 2 columns]